{% extends 'gestionmenu/base.html' %}

{% block body %}
<style>       
    ul{
      list-style-type: none;
    }
</style>
<h1>Page de gestion des menus </h1> {% if msg %} <span style="color:red">{{ msg }}</span><BR><BR> {% endif %}

Gestion des menus :
<BR>

{% if menus|length %}
    <ul>    
    {% for unmenu in menus %}
        <li>
            Menu {{unmenu.lemenu.nom}} :
            <a href="{% url 'ajout_menu' unmenu.lemenu.id %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>ajout de sous-menu</title>
                    <path
                      d="M 10 0 L 10 20 M 0 10 L 20 10 M 10 0"
                      stroke="black" stroke-width="1.2" fill="none"
                    ></path>
                </svg>
            </a>
            {% if unmenu.lessousmenus|length %}
            <ul>    
            {% for unsousmenu in unmenu.lessousmenus %}
                <li class="submenugestion">
                    <a href="{% url 'modifie_menu' unsousmenu.id %}"> 
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
                            <title>edite</title>
                            <path d="M 15 5 L 20 10 L 25 5 L 20 0 L 1 19 L 6 24 L 20 10 M 1 19 L 0 25 L 6 24 M 9 25 L 25 25" 
                            stroke="black" stroke-width="1.2" fill="none" />
                        </svg>
                    </a>
                    <a href="{% url 'modifie_ordre_menu' unsousmenu.id 'True' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>haut</title>
                            <path d="M16 10 l13 13 h3 l-16 -16 -16 16 h3 l13 -13z"></path>
                        </svg>
                    </a>
                    <a href="{% url 'modifie_ordre_menu' unsousmenu.id 'False' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>bas</title>
                            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
                        </svg>
                    </a>         
                    <a href="{% url 'supprime_menu' unsousmenu.id %}">
                        <svg class="svg-icon" style="width: 2em; height: 2em;vertical-align: middle;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>supprimer</title><path d="M408 448h48v320h-48zM568 448h48v320h-48z"  /><path d="M808 336a88.064 88.064 0 0 0-88-88h-104V224c0-39.68-32.32-72-72-72h-64c-39.68 0-72 32.32-72 72v24H304a88.064 88.064 0 0 0-88 88v56.032h64V872h464V392.032h64V336z m-352-112c0-13.216 10.784-24 24-24h64c13.216 0 24 10.784 24 24v24h-112V224z m240 600h-368V392.032h368V824z m64-479.968H264V336c0-22.048 17.952-40 40-40h416c22.048 0 40 17.952 40 40v8.032z"  /></svg>
                    </a>
                    sous-menu : {{unsousmenu.nom}}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
                    
        </li>
    {% endfor %}
    </ul>
{% endif %}
<BR>
Gestion des pages affichant un fichier unique : 
{% if menus_unique|length %}
    <ul>    
    {% for unmenu in menus_unique %}
        <li> Menu {{unmenu.nom}} : {{ unmenu.nomfichier }}
            <a href="{% url 'modifie_fichier_unique' unmenu.id %}"> 
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
                    <title>edite</title>
                    <path d="M 15 5 L 20 10 L 25 5 L 20 0 L 1 19 L 6 24 L 20 10 M 1 19 L 0 25 L 6 24 M 9 25 L 25 25" 
                    stroke="black" stroke-width="1.2" fill="none" />
                </svg>
            </a>
        </li>{% endfor %}
    </ul>{% endif %}
<BR><BR>
{% endblock body %}