{% extends 'gestionmenu/base.html' %}

{% block body %}
<h1> Récapitulatif des notes de colles </h1>
<hr>

<div style="text-align:center">
    <form method="POST" action="">
        {% csrf_token %}
        <label>Semaine en cours : </label>
        <select id="semaine" name="semaine" onchange="recupere_notes()" type="select">
            {% for item in lessemaines %}
            <option value="{{ item.numero }}" {% if item.numero == semaine.numero %}selected="selected"{% endif %}>n°- {{ item.numero }} commençant le {{ item.date }}</option> {% endfor %}
        </select>
    </form> ( A : Absent,   N : Non noté(e))<BR>

    <div id="lesnotes">
    </div>
<BR><BR>
    liste des élèves notés plusieurs fois cette semaine:<BR>
    <div id="doublons">
    </div>  
</div>
<BR><BR>
<script>
let semaine=document.getElementById("semaine")
let lesnotes=document.getElementById("lesnotes")
let doublons=document.getElementById("doublons")

function recupere_notes() {
    var formData = new FormData();
    formData.append('semaine', semaine.value);
    formData.append('colleur','__all__')
    csrf=document.getElementsByName('csrfmiddlewaretoken')[0]
    formData.append('csrfmiddlewaretoken',csrf.value)
    fetch("/recuperation_notes_colles", {
      method : 'POST',
      headers : {
        'Accept': 'application/json, text/plain, */*',
      },
      body: formData
    }).then(function(res){ return res.json();})
      .then(function(res){
        affiche_note(res["lesnotes"],res["doublons"])
      })
      .catch(function(err){ console.log('Erreur requête', err);});
}

function affiche_note(lesnotesliste,doublonsliste) {
    /* ordonner les élèves par usename */
    lesnotes.innerHTML=""
    for (item in lesnotesliste) {
        let lanote=lesnotesliste[item]
        let colleur=""
        let note=""
        if (lesnotesliste[item]!='') {
            colleur="avec "+lanote.colleur
            note=lanote.note
        }
        let bnote=document.createElement('div')
        bnote.setAttribute('class','divtableau')
        lesnotes.appendChild(bnote)
        let label=document.createElement('input')
        // label.setAttribute('size',8)
        label.setAttribute('class','inputmobilemarc1')
        label.value=item
        bnote.appendChild(label)
        let label2=document.createElement('input')
        // label2.setAttribute('size',1)
        label2.setAttribute('class','inputmobilemarc2')
        if (note == -1) {
            label2.value='A'
        } else if (note == -2) {
            label2.value='N'            
        } else {
            label2.value=note
        }
        bnote.appendChild(label2)
        let com=document.createElement('button')
        com.setAttribute('type','button')
        com.innerHTML='T'
        if ( lanote.note != "" ) {
                    if (lanote.lecom_id != null) {
                        com.setAttribute('style','color:black;background-color:lightgray')
                        com.setAttribute('onclick','lecture_commentaire("'+lanote.idnote +'","'+lanote.lecom_id+'","'+item+'")')
                    } else {
                        com.setAttribute('style','color:lightgray;background-color:lightgray')
                    }
                 } else {
                    com.setAttribute('style','color:lightgray;background-color:lightgray')
                }
        bnote.appendChild(com)        
        let label3=document.createElement('input')
        // label3.setAttribute('size',10)
        label3.setAttribute('class','inputmobilemarc3')
        label3.value=colleur
        bnote.appendChild(label3)
    }
    doublons.innerHTML=""
    for (item in doublonsliste) {
        for (x in doublonsliste[item]) {
            lanote=doublonsliste[item][x]
            note=lanote.note
            colleur=lanote.colleur
            if (note == -1) {
                note='A'
            } else if (note == -2) {
                note='N'            
            }
            //doublons.innerHTML+=item+" : "+note+" avec "+colleur+", "

            let bnote=document.createElement('div')
        bnote.setAttribute('class','divtableau')
        doublons.appendChild(bnote)
        let label=document.createElement('input')
        // label.setAttribute('size',8)
        label.setAttribute('class','inputmobilemarc1')
        label.value=item
        bnote.appendChild(label)
        let label2=document.createElement('input')
        // label2.setAttribute('size',1)
        label2.setAttribute('class','inputmobilemarc2')
        if (note == -1) {
            label2.value='A'
        } else if (note == -2) {
            label2.value='N'            
        } else {
            label2.value=note
        }
        bnote.appendChild(label2)
        let com=document.createElement('button')
        com.setAttribute('type','button')
        com.innerHTML='T'
        if ( lanote.note != "" ) {
                    if (lanote.lecom_id != null) {
                        com.setAttribute('style','color:black;background-color:lightgray')
                        com.setAttribute('onclick','lecture_commentaire("'+lanote.idnote +'","'+lanote.lecom_id+'","'+item+'")')
                    } else {
                        com.setAttribute('style','color:lightgray;background-color:lightgray')
                    }
                 } else {
                    com.setAttribute('style','color:lightgray;background-color:lightgray')
                }
        bnote.appendChild(com)        
        let label3=document.createElement('input')
        // label3.setAttribute('size',10)
        label3.setAttribute('class','inputmobilemarc3')
        label3.value=colleur
        bnote.appendChild(label3)


        }
    }
}

function lecture_commentaire(id_colle,lecom_id,eleve) {
    //new_texte=prompt("commentaire pour la colle : ",texte)
    var formData = new FormData();
        formData.append('id_com', lecom_id);
        csrf=document.getElementsByName('csrfmiddlewaretoken')[0] 
        formData.append('csrfmiddlewaretoken',csrf.value)
        fetch("/recupere_commentaire_notes_colles", {
          method : 'POST',
          headers : {
            'Accept': 'application/json, text/plain, */*',
            },
            body: formData
        }).then(function(res){ return res.json();})
          .then(function(res){
            
    var new_texte;
    bootbox.prompt({
                                title: 'Commentaire pour la colle de '+eleve,
                                inputType: 'textarea',
                                value : res["texte"],
                                callback: function (new_texte) {
 
}
                                });
                            })
            .catch(function(err){ console.log('Erreur requête', err);});

}




recupere_notes()
</script>
{% endblock body %}
