{% extends 'gestionmenu/base.html' %}

{% block body %}
<h1> Résultats des sondages </h1>
<hr>

<div id="liste_sondages" style="text-align:center"> 
</div>
<form method="POST" action="">
    {% csrf_token %}
</form>

<script>
    let liste_sondages=document.getElementById("liste_sondages")
    
    function recupere_sondage() {
        var formData = new FormData();
        formData.append('action','demande')
        csrf=document.getElementsByName('csrfmiddlewaretoken')[0]
        formData.append('csrfmiddlewaretoken',csrf.value)
        fetch("/resultat_sondage", {
          method : 'POST',
          headers : {
            'Accept': 'application/json, text/plain, */*',
          },
          body: formData
        }).then(function(res){ return res.json();})
          .then(function(res){
            affiche_sondage(res)
          })
          .catch(function(err){ console.log('Erreur requête', err);});
    }
    
    function affiche_sondage(reponse) {
        for (id in reponse) {
            sondage=reponse[id]
            if (sondage["type_sondage"]=="choix") {
                let unsondage=document.createElement('p')
                let titre=document.createElement('label')
                titre.innerHTML=sondage["titre"]
                unsondage.appendChild(titre)
                unsondage.appendChild(document.createElement('br'))
                let chaine="Sans choix ("+sondage["nombre"][""]+") : "
                for (y in sondage["choix"][""]) {
                    chaine=chaine+sondage["choix"][""][y]+", "
                }
                let unchoix=document.createElement('label')
                unchoix.innerHTML=chaine
                unsondage.appendChild(unchoix)
                unsondage.appendChild(document.createElement('br'))
                for (x in sondage["lesitems"]) {
                    unitem=sondage["lesitems"][x]
                    let chaine=unitem+" ("+sondage["nombre"][x]+") : "
                    for (y in sondage["choix"][x]) {
                        chaine=chaine+sondage["choix"][x][y]+", "
                    }
                    let unchoix=document.createElement('label')
                    unchoix.innerHTML=chaine
                    unsondage.appendChild(unchoix)
                    unsondage.appendChild(document.createElement('br'))
                }
                liste_sondages.appendChild(unsondage)
            } else if (sondage["type_sondage"]=="question") {
                let unsondage=document.createElement('p')
                let titre=document.createElement('label')
                titre.innerHTML=sondage["titre"]
                unsondage.appendChild(titre)
                unsondage.appendChild(document.createElement('br'))              
                let chaine="Sans réponse ("+String(sondage["nb_sansreponse"])+") : "
                for (y in sondage["sansreponse"]) {
                    chaine=chaine+sondage["sansreponse"][y]+", "
                }
                let sansreponse=document.createElement('label')
                sansreponse.innerHTML=chaine
                unsondage.appendChild(sansreponse)                
                let chainebis="Avec réponse ("+String(sondage["nb_avecreponse"])+") : "
                for (y in sondage["avecreponse"]) {
                  chainebis=chainebis+sondage["avecreponse"][y]+", "
                }
                let avecreponse=document.createElement('label')
                avecreponse.innerHTML=chainebis
                unsondage.appendChild(avecreponse)    
                unsondage.appendChild(document.createElement('br'))
                let button=document.createElement('button')
                button.innerHTML="Lire les réponses"
                button.setAttribute('onclick','lire_reponse()')   
                unsondage.appendChild(button)        
                liste_sondages.appendChild(unsondage)
              }
        }
    }
    
    function lire_reponse() {
      console.log("lire les réponses")
    }

    recupere_sondage()
    </script>

{% endblock body %}